/* DimensionsProduct.css */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.custom-card {
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-card-header {
  background-color: #f8f9fa;
  border-bottom: 2px solid #e9ecef;
  padding: 15px;
  text-align: center;
}

.custom-label {
  font-weight: bold;
}

.custom-select,
.custom-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}

.custom-select:focus,
.custom-input:focus {
  border-color: #007bff;
}

.btn-add {
  background-color: #007bff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.btn-add:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

.btn-delete:hover {
  background-color: #c82333;
}

.custom-row {
  margin-bottom: 15px;
}

.custom-row .col {
  font-size: 14px;
}

.custom-row .btn-delete {
  margin-left: 10px;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #6c757d;
}

.text-primary {
  color: #007bff;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.text-success {
  color: #28a745 !important;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.form-design-dimension {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: normal;
}

.form-design-dimension div {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.form-design-dimension button {
  max-width: 210px;
  width: 100%;
}

.form-design-dimension h3 {
  width: 100%;
}